*{
padding: 0%;
margin: 0%;
}

body{
    font-family: 'Berkshire Swash', cursive;

}

.container{
    width: 80%;
    margin: auto;

}

a{
    text-decoration: none;
}

li{
    list-style: none;

}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;

}




.basdig{
    padding: 20px 0;
}

.logo{
    width: 64%;
    float: left;
}

.logo a,.navbar a{
    font-size: 25px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
    transition: color .3s;
}

.logo a:hover, .navbar a:hover{

    color: white;

}
.navbar{
    width: 36%;
    float: right;

}



.navbar a{
    font-size: 15px;
}
.navbar li{
    float: left;
    padding: 5px 14px;
}

.head{
background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/bg-masthead.jpg);
padding: 500px 0;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
text-align: center;

}

.head {
    color: white;
}


hr{
    width: 80px;
    height: 3px;
    border: none;
    background-color: #f24516;
    margin: auto;

}

.find{
    padding: 20px 25px;
    background-color: #f24516;
    border: none;
    border-radius: 100px;
    font-weight: 900;
    transition: background-color .3s;
    color: white;
}

.find :focus{
    color: #f24516;
}

.find:hover{
    background-color: #4b1e11;
}

.head pre{
font-size: 60px;
margin: -110px 0px 70px 0px;

}

.head p{
padding: 35px 0 30px 0;
font-size: 20px;

}

.narinci{
    background-color: #f4623a;
    padding: 150px 0;
    text-align: center;
    color: white;

}
.ikin{
    width: 80px;
    height: 3px;
    border: none;
    background-color: white;
    margin: auto;
}


.sekiller .img{
    width: 33.33%;
    height: 350px;
    float: left;
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/6.jpg)

}



.sekiller img{
    width: 100%;
    height: 100%;

}


.text{
background-color: orangered;
color: white;
width: 100%;
height: 100%;
opacity: 0;
transition: opacity .4s;
text-align: center;


}

.img:hover .text{
    opacity: .7;

}
 

.text h3{
padding-top: 25%;
}




.blok{
display: block;
width: 20%;
height: 200px;
background: #4b1e11;



}

.inline{
display: inline;
width: 20%;
height: 200px;
background: violet;

}


.inline-blok{

    display: inline-block;
    width: 20%;
    height: 200px;
    background: fuchsia;

}